0-starter-project/
fontawesome-free-5.12.0-web
02-counter
03-reviews
04-navbar
05-sidebar
06-modal
07-questions
08-menu
09-video
10-scroll
11-tabs
12-countdown-timer
13-lorem-ipsum
14-grocery-bud
15-slider
16-counter
17-gallery
18-numbers
19-dark-mode
20-filters
21-dad-jokes
22-products
23-random-user
24-cocktails
25-slider
26-stripe-submenus
27-pagination
28-wikipedia
29-comfy-store